body {
  margin : 0;
  padding : 0;
}
.top-panel {
  background-color: #008A00;
  text-align: center;
  padding : 1%;
}

.top-panel h2 {
  padding-top: 10px;
  color : #FFF;
}

.top-panel .submit {
  background-color: rgba(156, 204, 101, 0.88);
}
.top-panel a {
  text-decoration: none;
}

#jobs-list {
  list-style-type: none;
}

.card-image {
  width: 150px;
}

.card-image img {
  margin: auto;
}